.navbar {
    overflow: hidden;
    background-color: #000080;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text-container {
    width: 50%;
}
.image-container {
    width: 50%;
    text-align: right;
    margin: 0 auto;
}
.image-container img {
    width: auto;
    height: auto;
}
header {
  background-color: #2a52be;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  margin-top: 50px;
}
